.Exercise{
    width: 32%;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(46, 50, 50, 0.63);
    -moz-box-shadow:    7px 7px 5px 0px rgba(46, 50, 50, 0.63);
    box-shadow:         7px 7px 5px 0px rgba(46, 50, 50, 0.63); 
    border-radius: 20px;
    border: 3px solid #6e6e6e;
    box-sizing: border-box;
    padding: 10px; 
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
}

.ExerciseHeader {
    display: flex;
    justify-content: space-around;
}